
/* VARIABLES */

:root{
    --clr-primary: rgb(222, 135, 135);
    --clr-secondy: rgb(226, 169, 169);
    --clr-neutral: rgb(140, 140, 140);
    --clr-footer: rgb(253, 195, 195);
}

/* ESTILO GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Seccion principal */

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(90%, 1200px);
    margin: auto;
}

.logo img{
    width: 100%;
    max-width: 310px;
    height: auto;
}

.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 5px;
}

.btn-servicios,
.btn-whatsapp,
.btn-ig,
.btn-ubicacion{
    background-color: var(--clr-secondy);
    box-shadow: 0 10px 25px var(--clr-primary);
    border-radius: 30px;
    text-decoration: none;
    box-sizing: border-box;
    padding: 16px;
    font-size: clamp(1rem, 4vw, 1.4rem);
    width: min(100%, 380px);
    color: black;
}

.btn-servicios,
.btn-whatsapp,
.btn-ig,
.btn-ubicacion{
    transition:.5s;
}

.btn-servicios:is(:hover,:active),
.btn-whatsapp:is(:hover,:active),
.btn-ig:is(:hover,:active),
.btn-ubicacion:is(:hover,:active){
    background:var(--clr-primary);
}


/* PAGINA SERVICIOS */

/*
h1{
    text-align: center;
    font-size: 2rem;
    padding: 20px;
}

h2 {
    font-size: 1.5rem;
    padding: 20px;
}
*/
h1{
    font-size: clamp(2rem, 4vw, 3.5rem);
    padding: 20px;
}

h2{
    font-size: clamp(1.3rem, 2vw, 2rem);
    padding: 10px;
}
.tarjetas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tarjeta-facial,
.tarjeta-cejas,
.tarjeta-labios{
    transition: all .5s ease;
}

.tarjeta-facial:is(:hover,:active),
.tarjeta-cejas:is(:hover,:active),
.tarjeta-labios:is(:hover,:active){
    background:var(--clr-primary);
}


.tarjeta-facial,
.tarjeta-cejas,
.tarjeta-labios{
    background-color: var(--clr-secondy);
    box-shadow: 5px 10px 25px var(--clr-neutral);
    border-radius: 30px;
    text-decoration: none;
    color: black;
    text-align: center;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.contenedor-img {
    width: 180px;
    height: 170px;
    overflow: hidden;
    flex-shrink: 0;
    padding-top: 0;
}

.img-servicio {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: contain;
    object-position: center;
    display: block;
}

.btn-volver{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: var(--clr-secondy);
    box-shadow: 0 10px 25px var(--clr-primary);
    border-radius: 30px;
    text-decoration: none;
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px;
    color: black;
    border: none;
    cursor: pointer;
}

.btn-atras{
    transition: all .5s ease;
}

.btn-atras:hover,
.btn-atras:active {
    background-color: var(--clr-primary);
    color: black;
}

footer.footer {
    background-color: var(--clr-footer);
    text-align: center;
    padding: 10px;
    margin-top: auto;
    width: 100%;
}

/*
@media (min-width: 768px) {
    .tarjetas{
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .contenedor{
        width: 90%;
    }
}
*/

/* Media Queries */
/* Tablet */
@media (min-width:368px){
    .button{
        gap:30px;
    }
    .contenedor{
        width:50%;
    }
}

/* Notebook */

@media (min-width:792px){
    .button{
        flex-direction:row;
        flex-wrap:wrap;
    }
}

/* Desktop */

@media (min-width:1200px){
    .contenedor{
        max-width:1200px;
    }
}



